@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Medium.ttf");
  font-weight: 500;
}

html,
body {
  font-family: "OpenSans";
  font-size: 14px;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

.isWP {
  @apply  w-96 bg-gray-700 text-slate-200 max-h-96 overflow-y-auto scrollbar-thin scrollbar-thumb-transparent hover:scrollbar-thumb-slate-500 scrollbar-track-transparent transition duration-75 relative;

  &.full {
    @apply max-h-full overflow-y-auto w-96 scrollbar-thin scrollbar-thumb-transparent hover:scrollbar-thumb-slate-500 scrollbar-track-transparent transition duration-75;
  }

  font-size: 14px;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  li,
  span,
  div,
  input,
  textarea,
  button {
    font-family: "OpenSans";
  }

  a {
    @apply text-slate-300 no-underline hover:text-white hover:underline transition duration-75;
  }

  ._header {
    @apply sticky top-0  bg-slate-50 tracking-wide  px-3 py-3 text-xl text-white font-medium flex items-center justify-center gap-3 text-center;

    font-family: "OpenSans";

    &.success {
      @apply bg-green-600;
    }

    &.error {
      @apply bg-slate-600;
    }

    &.warning {
      @apply bg-yellow-600;
    }

    &.info {
      @apply bg-sky-600 ;
    }

    &.check {
      @apply cursor-pointer hover:opacity-90;
    }

    .icon {
      @apply w-5 h-5;
    }
  }
  ._spinner {
    @apply block rounded-full border-2 border-white border-y-sky-400 animate-spin;
  }

  ._tabs {
    @apply flex items-center justify-center bg-slate-600;

    & > * {
      @apply w-full py-3 px-4 text-lg cursor-pointer text-white hover:bg-slate-500 capitalize transition-colors duration-100 ease-in-out flex items-center gap-2 justify-center text-center font-medium;

      span {
        @apply text-base text-yellow-200 block h-full px-0.5 pointer-events-none;
      }

      &.active {
        @apply text-white bg-sky-600 hover:bg-sky-600;
      }
    }
  }

  ._table {
    @apply flex flex-col gap-3 text-base;

    ._tr {
      @apply flex flex-col justify-center gap-1;

      label {
        @apply text-slate-500;
      }

      & > div {
        @apply text-slate-200;
      }
    }

    label {
    }
  }

  ._overlay-banner {    
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); 
  }

  ._plugin-banner {
    min-height: 130px;
  }

  ._footer {
    @apply text-center py-2 text-xs text-slate-500;

    a {
      @apply text-slate-500 hover:text-sky-300 transition duration-75;
    }
  }
}
